<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Wiki Editor"
            default="true"
            icon="icons/wiki.png"
            extensions="wiki"
            contributorClass="com.teaminabox.eclipse.wiki.editors.WikiBrowserEditorContributor"
            class="com.teaminabox.eclipse.wiki.editors.WikiBrowserEditor"
            symbolicFontName="com.teaminabox.eclipse.wiki.fontDefinition"
            id="com.teaminabox.eclipse.wiki.editors.WikiEditor">
      </editor>
   </extension>
   <extension
         id="com.teaminabox.eclipse.wiki.editors.popupMenu"
         name="WikiPopupMenu"
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="com.teaminabox.eclipse.wiki.editors.WikiEditor.ContextMenu"
            id="wiki.viewerContribution">
         <action
               label="Open Wiki Link"
               icon="icons/wiki.png"
               class="com.teaminabox.eclipse.wiki.actions.OpenWikiLinkEditorAction"
               menubarPath="additions"
               id="com.teaminabox.eclipse.wiki.actions.OpenWikiLinkEditorAction">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="com.teaminabox.eclipse.wikiActionSet"
         name="wikiActionSet"
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="EclipseWiki"
            visible="false"
            id="com.teaminabox.eclipse.wiki.actionSet">
         <menu
               label="Wiki"
               path="additions"
               id="com.teaminabox.eclipse.wiki.wikiMenu">
         </menu>
         <action
               definitionId="com.teaminabox.eclipse.wiki.actions.OpenWikiLinkWorkbenchAction"
               label="Open Wiki Link"
               class="com.teaminabox.eclipse.wiki.actions.OpenWikiLinkWorkbenchAction"
               menubarPath="com.teaminabox.eclipse.wiki.wikiMenu/additions"
               id="com.teaminabox.eclipse.wiki.actions.OpenWikiLinkWorkbenchAction">
         </action>
         <action
               definitionId="com.teaminabox.eclipse.wiki.actions.NavigateToPreviousLinkAction"
               label="Navigate To Previous Link"
               class="com.teaminabox.eclipse.wiki.actions.NavigateToPreviousLinkAction"
               menubarPath="com.teaminabox.eclipse.wiki.wikiMenu/additions"
               id="com.teaminabox.eclipse.wiki.actions.NavigateToNextLinkAction">
         </action>
         <action
               definitionId="com.teaminabox.eclipse.wiki.actions.NavigateToNextLinkAction"
               label="Navigate To Next Link"
               class="com.teaminabox.eclipse.wiki.actions.NavigateToNextLinkAction"
               menubarPath="com.teaminabox.eclipse.wiki.wikiMenu/additions"
               id="com.teaminabox.eclipse.wiki.actions.NavigateToNextLinkAction">
         </action>
         <action
               definitionId="com.teaminabox.eclipse.wiki.actions.PreviewAction"
               label="Open Preview"
               class="com.teaminabox.eclipse.wiki.actions.PreviewAction"
               id="com.teaminabox.eclipse.wiki.actions.PreviewAction">
         </action>
      </actionSet>
   </extension>
   <extension
         id="com.teaminabox.wiki.eclipse.preferences"
         name="wikiPreferences"
         point="org.eclipse.ui.preferencePages">
      <page
            name="Wiki"
            class="com.teaminabox.eclipse.wiki.preferences.WikiPreferences"
            id="wiki.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.teaminabox.eclipse.wiki.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.contexts"
         id="com.teaminabox.eclipse.wiki.context"
         name="Wiki Contexts">
      <context id="com.teaminabox.eclipse.wiki.context"
            name="Wiki Context"
            parentId="org.eclipse.ui.contexts.window"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Next Wiki Link"
            description="Navigate To Next Wiki Link"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.teaminabox.eclipse.wiki.actions.NavigateToNextLinkAction">
      </command>
      <command
            name="Previous Wiki Link"
            description="Navigate To Previous Wiki Link"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.teaminabox.eclipse.wiki.actions.NavigateToPreviousLinkAction">
      </command>
      <command
            name="Open Preview"
            description="Open Preview"
            categoryId="org.eclipse.jdt.ui.category.source"            
            id="com.teaminabox.eclipse.wiki.actions.PreviewAction">
      </command>
      <command
            name="Open Wiki Link"
            description="Open Wiki Link"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.teaminabox.eclipse.wiki.actions.OpenWikiLinkWorkbenchAction">
      </command>
      </extension>
      <extension
         point="org.eclipse.ui.bindings">
         <key
            sequence="F2"
            contextId="com.teaminabox.eclipse.wiki.context"
            commandId="com.teaminabox.eclipse.wiki.actions.PreviewAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

		<key
            sequence="Ctrl+Shift+ARROW_DOWN"
            contextId="com.teaminabox.eclipse.wiki.context"
            commandId="com.teaminabox.eclipse.wiki.actions.NavigateToNextLinkAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

		<key
            sequence="Ctrl+Shift+ARROW_UP"
            contextId="com.teaminabox.eclipse.wiki.context"
            commandId="com.teaminabox.eclipse.wiki.actions.NavigateToPreviousLinkAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

		<key
            sequence="F3"
            contextId="com.teaminabox.eclipse.wiki.context"
            commandId="com.teaminabox.eclipse.wiki.actions.OpenWikiLinkWorkbenchAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   
   <extension point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="com.teaminabox.eclipse.wiki.actionSet">
         <part id="com.teaminabox.eclipse.wiki.editors.WikiEditor"/>
      </actionSetPartAssociation>
   </extension>
   
   <extension  point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension id="com.teaminabox.eclipse.wiki.filetypes" point="org.eclipse.team.core.fileTypes">
	<fileTypes extension="wiki" type="text"/>
  </extension>
   <extension
         point="org.eclipse.ui.fontDefinitions">
      <fontDefinition
            label="Wiki Font"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.teaminabox.eclipse.wiki.fontDefinition">
         <description>
            The Wiki Editor font
         </description>
      </fontDefinition>
   </extension>
   
   <extension
         name="Wiki"
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.teaminabox.eclipse.wiki.category1"
            class="com.teaminabox.eclipse.wiki.export.WikiExportWizard"
            icon="icons/html.gif"
            id="WikiWizard"
            name="Wiki to HTML">
      </wizard>
      <category
            id="com.teaminabox.eclipse.wiki.category1"
            name="Wiki">
      </category>
   </extension>
   
   <extension
         id="com.teaminabox.eclipse.wiki.keywordReferences"
         name="EclipseWiki Preferences Keywords"
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.teaminabox.eclipse.wiki.keywordReference.wiki"
            label="Wiki"/>
      <keyword
            id="com.teaminabox.eclipse.wiki.keywordReference.twiki"
            label="TWiki"/>
      <keyword
            id="com.teaminabox.eclipse.wiki.keywordReference.snipsnap"
            label="SnipSnap"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.teaminabox.eclipse.wiki.properties.PropertiesPage"
            id="com.teaminabox.eclipse.wiki.properties"
            name="Wiki">
      </page>
   </extension>

</plugin>
