<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
       <pattern>%d{HH:mm:ss.SSS} %-5level %msg %n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${user.home}/.passerelle/modelRunner.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [thread=%thread] [class=%logger{36}] - %msg %n</pattern>
    </encoder>
    
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>

	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>${user.home}/.passerelle/modelRunner_%d{yyyy-MM-dd}.%i.log
		</fileNamePattern>
		<!-- keep 1 days' worth of history we are only a GUI -->
		<maxHistory>1</maxHistory>
		<cleanHistoryOnStart>true</cleanHistoryOnStart>
		<timeBasedFileNamingAndTriggeringPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			<!-- or whenever the file size reaches 20MB -->
			<maxFileSize>20MB</maxFileSize>
		</timeBasedFileNamingAndTriggeringPolicy>
	</rollingPolicy>
  </appender>
  

 <appender name="FILE_DAWB" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${user.home}/.dawn/workflow.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [thread=%thread] [class=%logger{36}] - %msg %n</pattern>
    </encoder>
    
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>

	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>${user.home}/.dawn/workflow_%d{yyyy-MM-dd}.%i.log
		</fileNamePattern>
		<!-- keep 1 days' worth of history we are only a GUI -->
		<maxHistory>1</maxHistory>
		<cleanHistoryOnStart>true</cleanHistoryOnStart>
		<timeBasedFileNamingAndTriggeringPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			<!-- or whenever the file size reaches 20MB -->
			<maxFileSize>20MB</maxFileSize>
		</timeBasedFileNamingAndTriggeringPolicy>
	</rollingPolicy>
  </appender>

<!--
  <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
    <RemoteHost>localhost</RemoteHost>
    <Port>4321</Port>
    <ReconnectionDelay>10000</ReconnectionDelay>
    <IncludeCallerData>${includeCallerData}</IncludeCallerData>
  </appender>
-->

<logger name="com.isencia" level="INFO"/>
<logger name="org.dawnsci.passerelle" level="ALL"/>
<logger name="org.dawb" level="INFO"/>
<logger name="uk.ac.diamond" level="INFO"/>

  <root>
    <level value="ERROR" />
    <appender-ref ref="STDOUT" />
   <!-- <appender-ref ref="FILE" />
    <appender-ref ref="FILE_DAWB" />
    <appender-ref ref="SOCKET" /> -->
  </root>
  
</configuration>
