<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
       <Pattern>%d{HH:mm:ss.SSS} %-5level %msg %n</Pattern>
    </layout>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>false</append>
    <file>${user.home}/.passerelle/modelRunner.log</file>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} %-5level [thread=%thread] [class=%logger{36}] - %msg %n</Pattern>
    </layout>
    
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>
    
    <!-- keep 1 days' worth of history we are only a GUI -->
    <maxHistory>1</maxHistory>
        
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>20MB</maxFileSize>
    </triggeringPolicy>
    
  </appender>
  

 <appender name="FILE_DAWB" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>false</append>
    <file>${user.home}/.dawn/workflow.log</file>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} %-5level [thread=%thread] [class=%logger{36}] - %msg %n</Pattern>
    </layout>
    
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>
    
    <!-- keep 1 days' worth of history we are only a GUI -->
    <maxHistory>1</maxHistory>
        
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>20MB</maxFileSize>
    </triggeringPolicy>
    
  </appender>

<!--
  <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
    <RemoteHost>localhost</RemoteHost>
    <Port>4321</Port>
    <ReconnectionDelay>10000</ReconnectionDelay>
    <IncludeCallerData>${includeCallerData}</IncludeCallerData>
  </appender>
-->

<logger name="com.isencia" level="INFO"/>
<logger name="org.dawnsci.passerelle" level="ALL"/>
<logger name="org.dawb" level="INFO"/>
<logger name="uk.ac.diamond" level="INFO"/>

  <root>
    <level value="ERROR" />
    <appender-ref ref="STDOUT" />
   <!-- <appender-ref ref="FILE" />
    <appender-ref ref="FILE_DAWB" />
    <appender-ref ref="SOCKET" /> -->
  </root>
  
</configuration>
